.signUp {
    .container {
        margin: 10px auto;

        .email {
            display: inline-block;
        }

        .signUpButton {
            display: inline-block;
            height: 33px;
        }
    }
}